@import url('https://fonts.googleapis.com/css?family=Open+Sans');



h1{
    font-family: 'Oswald', sans-serif;
    margin-top:10px;
    margin-bottom: 20px;
}

.cmw-icon p{
    margin-top:10px;
    margin-bottom: 0;
}

p{
    font-family: 'Lato', sans-serif;
    
}
.cmw-topbar{
    background-color: white;
}
.cmwcart{
    color: white;
    margin-right: -16px;
    background-color: #41cd62;
   
    
}
.cmwcart_link{
    color: white !important;
}
.cmw-cart{
    color: white;
}
.cmw-navbar{
   margin-bottom:0px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    padding:13px;
    background-color: white;
    background-image: none;
    box-shadow: none;
    border-bottom: 3px solid #41cd62;
}
.cmw-toptopbar{
    text-align: center;
    color: #d7d7d7;
    background: black;
    padding: 4px 4px
}
.fb-custom{
    padding-top: 2px;
    float: right;
    
}
.cmw-breadcrumb {
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    
}
.prod-title{
    font-family: 'Lato', sans-serif;
    margin-top:10px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 35;
}
.prod-price-original{
    font-family: 'Lato', sans-serif;
    margin-top:10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20;
    color: #868686;
}
.cmw-sale{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16;
    color:red;
}
.review-product{
    float:right;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16;
    color: #868686;
    
}
.prod-price-new{
    
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 22;
    
}
.short-description{
    font-size:14px;
    
}
.button1 {
    width: 470px;
    height: 100px;
    font-size: 25px;
    background-color: #41cd62;
    color: white;
    font-weight: 600;;
    border-radius: 5px;
    border: 2px;
    transition: all 0.3s ease 0s;
   
}
.button1:hover {
    background-color: #37ab52;
    color: white;
}

.button0 {
    width: 80px;;      ;
    height: 23px;
    color: white;
    background-color: transparent;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
   
}
.button0:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.cmw-timer{
    font-size: 16
}
.sizing li a{
    color:#3b3b3b;
    
}
.cmw-counter{
   width: 112px;
    
}
.cmw-minusplus{
    background-color:white;
    height:34px;
}
.cmw-color{
    width: 40px;     
    height: 40px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    transition: all 0.3s ease 0s;
}
.cmw-color:hover{
    border: 1px solid #3f3f3f;
    
}
.cmw-attributes{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    
}
.cmw-sizing{
    margin: 0 0 ;
}
.cmw-red{
    background-color:#fe2b4b;
}
.cmw-blue{
    background-color:#00615b;
}
.cmw-bundle-title{
    font-size:18px;
    text-align: center;
}
.cmw-bundle-image{
    text-align: left;
    padding: 0 0 0 0;
    width:152px;
    height: 152px;
    
    border-radius: 3px;
    border: 2px solid #c7c7c7;
    transition: all 0.3s ease 0s;
    }
/*.cmw-bundle-products input[type="checkbox"]{
    
    position: absolute;
    margin-left: 5px;
}
.cmw-bundle-products input[type="checkbox"]:checked{
    position: absolute;
    margin-left: 5px;
}*/


.cmw-bundle-image img{
    height: 100%;
}
.cmw-bundle-image:hover{
    border: 2px solid #41cd62;
    
    
}
.cmw-bundle-products{
    text-align: center;

}
.checkbox label{
    margin: 0 0;
    padding: 0 0 0 0 ;
}

.checkbox input[type=checkbox]{
    margin-left: 10px;
    display: none;
}

.checkbox label:before {
  border-radius: 3px;
    margin-left: 10px;
}

input[type=checkbox]:checked + label:before {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("/image/checked.png");
  margin-left: 6px;
  margin-top:6px;
  padding-bottom: 20px;
  padding-right: 20px;
  content: "";
}
.cmw-icon-text{
    
    line-height: 95%;
    font-size: 14px;
    text-align: center;
}
.cmw-inline-icons{
        width: 100
}
.cmw-icon-align{
   
    padding-left:22px;
    padding-right: 22x;
    text-align: center;
}
.cmw-bundle-text{
    margin-bottom: -3px;
    width:154px;
    text-align: center;
    font-size: 15px;
}
.cmw-bundle-text-box{
    width:154px;
}
.cmw-bundle-price{
    
    text-align: center;
    font-size: 15px;
    color: #41cd62;
    font-weight: 600;
}
.cmw-bundle-old-price{
    text-decoration: line-through;
    text-align: center;
    font-size: 14px;
    color: #717171;
    font-weight: 600;
}
.cmw-icons-div{
    height: 125px;
}
.cmw-collection{
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
     border-bottom: 2px solid #eeeeee;
}